/* seccion categorias  */

.h4, .h5 {
    margin-top: 0;
    font-family: var(--heading-font);
}

h4 , .h4 {
    font-size: 18px;
    font-weight: 400;
}

h5, .h5 {
    font-size: 16px;
    font-weight: 400;
}

.subtitle {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.checkbox-container {
    position: relative;
    display: block;
    margin-bottom: 20px;
    /* padding-left: 0px; */
    /* padding-left: 40px;  */
    font-weight: 400;
    text-decoration: none;
    transition: all .4s ease;
    cursor: pointer;
}

.checkbox-container .checkbox-icon {
    position: absolute;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.checkbox-text {
    display: inline-block;
}
.checkbox-text.with-color {
    padding-right: 5px;
}

.divider {
    margin-bottom: 20px;
    clear: both;
    border-bottom: 1px solid var(--main-foreground-opacity-10);
}



.col-auto {
    padding-right: 15px;
    padding-left: 15px;
}
/* breadcrum  */
.breadcrums {
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
}

.breadcrums .crumb {
    line-height: 14px;
    opacity: 0.6;
}

.breadcrums ol {
    padding-left: 0;
}

.breadcrums .separator {
    margin: 3px;
    opacity: 0.6;
}

.breadcrums .crumb.active {
    opacity: 1;
}

.filter-input-price-container {
    position: relative;
    display: inline-block;
    width: 95px;
    margin-right: 5px;
    vertical-align: sub;
}

.price-filter-container .btn {
    padding: 12px 22px 20px 10px;
}

/* buttons  */
.btn-square {
    position: relative;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    font-size: 0;
}

.btn-small {
    display: inline-block;
    padding: 5px 10px;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 1px;
}

.btn-secondary {
    padding: 13px;
    color: var(--color3);
    border: 1px solid var(--color3);
    letter-spacing: 2px;
}

.btn-link {
    color: var(--main-foreground);
    fill: var(--main-foreground);
    cursor: pointer;
    text-decoration: none;
}


.category-body .btn {
    background: 0 0;
    text-transform: uppercase;
}

.chevron:before {
    content: '>';
    font-size: large;
    position: absolute;
    top: 9px;
    left: 11px;
    width: 15px;
    height: 15px;
}


input {
    font-family: var(--body-font);
}

p {
    line-height: 20px;
}

/* form  */

.form-group {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.form-group .form-label {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.form-label {
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: top;
}

.form-control {
    display: block;
    width: 100%;
    padding: 8px 10px;
    font-family: var(--body-font);
    font-size: 12px;
    line-height: 16px;
    border: 1px solid var(--main-foreground-opacity-30);
    appearance: none;
    color: var(--main-foreground);
    fill: var(--main-foreground);
    background-color: var(--main-background);
    transition: all .4s ease;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* breakpoints categorias  */
@media (min-width: 768px) {
    .filter-input-price-container {
        width: calc(50% - 25px);
    }
}

@media (max-width: 576px) {
    #filter-sidebar {
        display: none;
    }

    #category-name {
        padding-top: 10px;
    }

    .btn-small {
        font-size: 10px;
    }

    #category-modal-menu {
        display: inline-block!important;
    }

    .modal-body #filter-sidebar {
        display: block!important;
    }

    #filters-dropdown, 
    #filter-sidebar .btn-secondary {
        background: 0 0;
        text-transform: uppercase;    
    }

    .card {
        text-align: center;
    }

    .row {
        padding: 3vw;
    }

    #category-description .container-fluid {
        text-align: center;
        font-size: 14px;
    }
}
