html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.space-above-2 {
    margin-top: 180px;
}

.space-above-1 {
    margin-top: 150px;
}

/* .space-above-1 + div > div {
    max-width: 170px!important;
} */
/* navbar */

.text-descuento{
    background-color: #333333;
    color: #ffffff;
    font-size: 12px; 
    line-height: 20px;
    padding: 4px 0;
}
#navbarNav{
    font-size: larger;
    border: 2px solid black;
}
.nav-link{
    font-size: larger;
    color: #070707;
}
.fixed-bottom-custom {
    background-color: #f8f9fa; 
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.nav-link{
    font-size: x-large
}
#navbar {
    background-color: white;
}

/* Estilos para el movimiento del navbar */
.navbar-move {
    transform: translateY(-30px);
}
.navbar {
    transition: transform 0.3s ease-in-out;
    z-index: 1030; 
}
.content {
    margin-top: 156px; 
} 
/* Estilos para el movimiento del navbar */

/* navbar */






:root {
    --color1:#ecf0f1;
    --color2:#ffffff;
    --color3:#f39c12;
    --color4:#f5bb8d;
    --color5:#4dc247;
    --color6:#080505;
    --color7:#181b16;
    --color8:#070707;
    --color9:#af9977;

    --heading-font: "Plus Jakarta Sans", sans-serif;
    --body-font:  "Plus Jakarta Sans", sans-serif;
    --main-foreground-opacity-10: #0707071A;
    --main-foreground-opacity-30: #0707074D;
    --main-foreground-opacity-80: #070707CC;
    --main-foreground: #070707;
    --main-background: #ffffff;
    
  }

  body {
    font-family: var(--body-font);
    font-size: 12px;

  }
  /*generales a todas las clases*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--bg-color8);
}


/*text-color*/
.text-color1 {
    color: var(--color1);
}

.text-color2 {
    color: var(--color2);
}

.text-color3 {
    color: var(--color3);
}

.text-color4 {
    color: var(--color4);
}

.text-color5 {
    color: var(--color5);
}

.text-color6 {
    color: var(--color6);
}

.text-color7 {
    color: var(--color7);
}

.text-color8 {
    color: var(--color8);
}

.text-color9 {
    color: var(--color9);
}
/*bg-color*/
.bg-color1 {
    background-color: var(--bg-color1);
}

.bg-color2 {
    background-color: var(--bg-color2);
}

.bg-color3 {
    background-color: var(--bg-color3);
}

.bg-color4 {
    background-color: var(--bg-color4);
}

.bg-color5 {
    background-color: var(--bg-color5);
}

.bg-color6 {
    background-color: var(--bg-color6);
}

.bg-color7 {
    background-color: var(--bg-color7);
}

.bg-color8 {
    background-color: var(--bg-color8);
}

.bg-color9 {
    background-color: var(--bg-color9);
}
/*font-size*/
.font-size12{
    font-size: 12px;
}


/*btn*/
.btnEstilo1{
    width: auto;
    height: auto;
    border-radius: 5px;
    border: 1px solid var(--color3);
    color: var(--color3);
    background-color: var(--bg-color2);
    padding: 3px 10px;
    font-size: 11px;
}


.custom-height {
    height: 220px!important; /* ajusta este valor según tus necesidades */
    
}
.font-size-Icons{
    font-size: 90px;
}

.inputNewletter{
    width: 100%!important;
    height: 25px;
    margin-bottom: 50px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.display-dropdown {
    display: block!important;
}

@media (max-width: 780px) {
    .space-above-2 {
        margin-top: 120px!important;
    }

    /* .space-above-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
    
}

/*footer*/

/*footer*/