.section-single-product {
    margin-bottom: 70px;
}

.position-relative {
    position: relative!important;
}

.product-thumb {
    overflow: hidden;
}

.product-thumb.selected img {
    opacity: 1;
}

.product-thumb img {
    width: auto;
    height: 100%;
}

.img-absolute-centered {
    left: 50%;

}

.img-absolute {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    vertical-align: middle;
    z-index: 1; 
}