


#pictures-sidebar img ,
#full-picture img {
    object-fit: cover;
    width: 100%;
}

#pictures-sidebar img {
    opacity: 0.6;
}

#pictures-sidebar .selected img {
    opacity: 1;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; 
    height: 10px; 
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}

.carousel-indicators [aria-current] {
    opacity: 1;
}

/* button  */
.btn {
    border: 0;
    padding: 0 0;
    text-transform: uppercase;
}

#submit-carrito {
    padding-right: 5px;
    padding-left: 5px;
}

#submit-carrito .btn {
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    line-height: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-transform: uppercase;
    white-space: normal;
   
    -webkit-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.btn-variant {
    display: inline-block;
    font-size: 10px;
    line-height: 10px;
    min-width: 24px;
    min-height: 24px;
    margin: 0 10px 10px 0;
    border: 1px solid var(--main-foreground-opacity-80);
    color: var(--main-foreground-opacity-80);
    border-radius: 2px;
    vertical-align: top;
}

.btn-variant-content {
    display: block;
    min-width: 12px;
    min-height: 12px;
    margin: 5px;
    line-height: 12px;
}

.btn-variant.selected {
    color: var(--main-foreground);
    border: 1px solid var(--main-foreground-opacity-30);
    background: var(--main-foreground-opacity-10);
}

.btn-block {
    width: 100%;
}

.btn-primary  {
    padding: 13px;
    background-color: var(--color3);
    fill: var(--color2);
    letter-spacing: 2px;
}

.centro-blanco {
    background-color: #fff;
    border: 1px solid #eee;
}


.col-auto {
    padding-right: 0;
    padding-left: 0;
}

/* form */
.form-quantity-product {
    padding: 10px;
}

.form-quantity {
    display: block;
    width: 100%;
    padding: 8px 10px;
    font-family: var(--body-font);
    font-size: 12px;
    line-height: 16px;
    border: 1px solid var(--main-foreground-opacity-30);
    appearance: none;
    color: var(--main-foreground);
    fill: var(--main-foreground);
    background-color: var(--main-background);
    border-radius: 4px;
    
}

.form-quantity .form-control {
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
    text-align: center;

}

.form-row {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.form-quantity-icon {
    width: 16px;
    fill: var(--main-foreground);
}

/* .form-label {
    display: flex;
    justify-content: center;
} */
/* icon  */
.icon-inline.icon-w-12 {
    width: .75em;
}

.icon-lg {
    font-size: 1.33em;
    line-height: .75em;
}

.icon-inline {
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: visible;
}

.select-color {
    margin-top: 0;
    padding: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#icon-pagos {
    vertical-align: -0.15em;
}


/* breakpoints  */
@media (min-width: 768px) {
    .form-quantity {
        padding: 10px;
        font-size: 12px;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    #pictures-sidebar {
        display: none;
    }

    #full-picture {
        width: 60vw;
    }
}

@media (max-width: 576px) {
    #pictures-sidebar {
        display: none;
    }

    #product-name, #product-price {
        text-align: center;
    }

    #product-price span {
        font-size: 16px;
    }

    #product-price {
        padding-top: 5px!important;
        padding-bottom: 5px!important;
    } 

    #select-caracteristicas {
        padding-left: 0!important;
    }

    #full-picture {
        padding: 3vw;
    }

    #submit-carrito, #quantity-controls {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    #variation-color-1,
    #variation-marca-1,
    #variation-talle-1 {
        width: 100%;
    }

    #marca, #color, #talle, #cantidad,
    #medios-pago, #desc-titulo {
        width: 100%;
        text-align: center;
    }

    #cantidad,
    #divisoria-descripcion {
        display: inline-block!important;
    }

    .btn-variant-content {
        margin: 0;
    }

    #quantity-container{ 
        margin-top: 5px!important;
    }

    #product-description-text {
        margin-top: 5px!important;
    }

    #pagos-text {
        margin-bottom: 10px!important;
    }

    #pagos-container {
        margin-bottom: 0!important;
    }
}